body {
    margin: 0;
    padding: 0;
    width: 1920px;
    height: 1920px;
}

table {
    background: lightblue;
}

td {
    width: 7px;
    height: 7px;
    padding: 0;
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
    position: relative;
}

td.WALL_UP {
    border-top-color: red;
}

td.WALL_RIGHT {
    border-right-color: red;
}

td.WALL_DOWN {
    border-bottom-color: red;
}

td.WALL_LEFT {
    border-left-color: red;
}

td.CELL_EMPTY {

}

td.CELL_BLACK {
    background: black;
}

td.CELL_WHITE {
    background: white;
}

td.CELL_PREPROCESSED {
    border-style: dashed;
}

td.CELL_VISITED {
    border-color: orange;
}

td div.pathIn{
    position: absolute;
    background: rebeccapurple;
}

td div.pathOut{
    position: absolute;
    background: purple;
}

td div.pathUp{
    top: 0;
    left: 3px;

    width: 1px;
    height: 4px;
}
td div.pathRight{
    top: 3px;
    right: 0;

    width: 4px;
    height: 1px;
}
td div.pathDown{
    bottom: 0;
    left: 3px;

    width: 1px;
    height: 4px;
}
td div.pathLeft{
    top: 3px;
    left: 0;

    width: 4px;
    height: 1px;
}